<ul class="nav flex-column nav-pills">
  <li class="nav-item" *ngIf="!isAuthenticated">
    <a class="nav-link" routerLink="/auth" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item" *ngIf="isAuthenticated">
    <a class="nav-link" routerLink="/auth" routerLinkActive="active" (click)="onLogout($event)">Logout</a>
  </li>
  <li class="nav-item" *ngIf="isAuthenticated">
    <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item" *ngIf="isAuthenticated">
    <a class="nav-link" routerLink="/posts/1" routerLinkActive="active">Post</a>
  </li>
</ul>
