
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <navbar></navbar>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<app-posts></app-posts>

<signup-form></signup-form>
contact-form></contact-form>
<app-basic-concepts2  (childChange)="onclickFromChildComponent($event)">
<p class="header">Test Encapsulation</p>
<p>Test 1</p>
</app-basic-concepts2>
<router-outlet></router-outlet>
-->
